<div class="box">
  <div class="header">
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Logo">
        <mat-icon>schedule</mat-icon>
      </button>
      <span>TrackerDo</span>
      <span class="horizontal-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="User account">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>View Details</button>
  <button mat-menu-item>Log out</button>
</mat-menu>

