<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<div class="box" *ngIf="!isLoadingResults">
  <div class="row">
    <mat-form-field class="padded-button">
      <mat-label>Search Projects</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ABC Drawings" #input>
    </mat-form-field>
    <span class="horizontal-spacer"></span>
    <button mat-raised-button class="padded-button" (click)="openDialog()" color="accent">Add project</button>
  </div>
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="project-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="flex-container" *ngIf="element == expandedElement">
            <div class="flex-item-left flex-item">
              <h2 class="flex-item">Track time</h2>
              <mat-form-field appearance="fill">
                <mat-label>Change Status</mat-label>
                <mat-select #status>
                  <mat-option value="1">Open</mat-option>
                  <mat-option value="2">In progress</mat-option>
                  <mat-option value="3">Completed</mat-option>
                  <mat-option value="4">Delivered</mat-option>
                  <mat-option value="5">Paid</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label >Choose a tracking option</mat-label>
                  <mat-select #select [disabled]="status.value != '2'">
                    <mat-option value="Timer">Timer</mat-option>
                    <mat-option value="Date">Date</mat-option>
                    <mat-option value="Hours">Hours</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="flex-item-middle flex-item">
              <div *ngIf="select.value == 'Timer'">
                <mat-form-field>
                  <mat-label>Timer</mat-label>
                  <input matInput type="time" disabled>
                </mat-form-field>
                <button mat-fab color="accent" aria-label="Start time" style="margin-left: 10px" [disabled]="status.value !== '2'">
                  <mat-icon>play_arrow</mat-icon>
                </button>
              </div>
              <div *ngIf="select.value == 'Date'" class="flex-container">
                <div>
                  <mat-form-field>
                    <mat-label>Start time</mat-label>
                    <input [disabled]="status.value !== '2'" matInput type="datetime-local">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>End time</mat-label>
                    <input [disabled]="status.value !== '2'" matInput type="datetime-local">
                  </mat-form-field>
                </div>
                <mat-form-field class="full-width">
                  <mat-label>Timer</mat-label>
                  <input [disabled]="status.value !== '2'" matInput type="time" disabled>
                </mat-form-field>
              </div>
              <div *ngIf="select.value == 'Hours'" class="flex-container">
                <mat-form-field>
                  <mat-label>Hours</mat-label>
                  <input [disabled]="status.value !== '2'" matInput type="time">
                </mat-form-field>
              </div>
            </div>
            <div class="flex-item-right flex-item flex-container">
              <div class="flex-container">
                <button mat-raised-button class="padded-button"
                        [disabled]="status.value === '1'"
                        (click)="openDialog()" color="warn">View Bill
                </button>
                <button mat-raised-button class="padded-button"
                        [disabled]="status.value === '1'"
                        (click)="openDialog()" color="warn">View Time logged
                </button>
                <button mat-raised-button class="padded-button"
                        (click)="openDialog()" color="primary">Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="table-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <div class="footer">
    <mat-paginator [pageSizeOptions]="[8,15,25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
